<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->



    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tienda</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Juegos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Equipo</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ventas y ofertas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Servicio en linea</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Asistencia</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Nintendo Switch</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cuenta Nintendo</a>
            </li>
            <li>
              <a href="#!" class="text-white">Otras consolas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Reparaciones</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Comunidad</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Reglas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Control parental</a>
            </li>
            <li>
              <a href="#!" class="text-white">Politicas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Anuncios</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Privacidad</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white"> Cookies y anuncios</a>
            </li>
            <li>
              <a href="#!" class="text-white">Basados en interes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Proteccion de informacion</a>
            </li>
            <li>
              <a href="#!" class="text-white">Respaldo de datos</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Nintendo Switch</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
